.collapse {
  position: relative;
  overflow: scroll;
  transition: max-height 0.9s ease-in-out;
}

.open {
  max-height: 300px; /* Adjust the value to accommodate your content */
}

.closed {
  max-height: 0;
}
